---
---
<!DOCTYPE html>
<html>
<head>
<title>release notes | chy.stat | future begins now ...</title>
<meta name="Keywords" content="" lang="en" xml:lang="en"  />
<meta name="description" content="" lang="en" xml:lang="en" />
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index,follow,snippet,archive" /> 
<meta name="author" content="Up-net Multimedia 2012 - 2015 | info@upnet.cz | www.upnet.cz" />
<meta name="copyright" content="" />
<link rel="shortcut icon" href="favicon.ico" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" href="http://www.chystat.com/css/prettyPhoto.css" rel="stylesheet" />	
<link type="text/css" href="http://www.chystat.com/css/layout.css" rel="stylesheet" />
<!--<link type="text/css" href="css/layout.css" rel="stylesheet" />	 -->
<!--[if IE 7]>
      <link type="text/css" href="css/ie7.css" rel="stylesheet" />	
    <![endif]-->
<script type="text/javascript" src="http://www.chystat.com/js/blank.js"></script>
<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
<script type="text/javascript" src="http://www.chystat.com/js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="http://www.chystat.com/js/jquery.easing.compatibility.js"></script>
<script type="text/javascript" src="http://www.chystat.com/js/jquery.lavalamp.min.js"></script>
<script type="text/javascript" src="http://www.chystat.com/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="http://www.chystat.com/js/flowplayer-3.2.8.min.js"></script>
<script type="text/javascript" src="http://www.chystat.com/js/jquery.quickValidate.min.js"></script>

<script type="text/javascript" src="js/conf.js"></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32558633-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body>
<div class="stranka">
<div class="stred">
<a href="http://www.chystat.com/en" title="SmartSTAT | future begins now ..." class="logo"><img src="http://www.chystat.com/images/logo.png" width="221" height="89" alt="chy.stat" /></a>
<ul class="lang">
    <li><a href="release-notes-cs.html" title="česky">CZ</a></li>
    <li class="noborder"><span><strong>EN</strong></span></li>
</ul>
<div class="navigace podstrana">
    <ul class="menu" id="lava">
        <li><a href="http://www.chystat.com/en" title="SmartSTAT | future begins now ...">Overview</a></li>
        <li class="separator">&nbsp;</li>
        <li><a href="http://www.chystat.com/modules" title="Modules">Modules</a></li>
        <li class="separator">&nbsp;</li>
        <li><a href="http://www.chystat.com/references" title="References">References</a></li>
        <li class="separator">&nbsp;</li>
        <li><a href="http://www.chystat.com/prices" title="Prices">Prices</a></li>
        <li class="separator">&nbsp;</li>
        <li><a href="http://www.chystat.com/contact" title="Contact">Contact</a></li>
    </ul>
    <a href="http://demo.chystat.com" title="try online demo" class="vyzkousejte" rel="external">try online demo</a>
    <h2>We appreciate your visit</h2>
</div><!-- navigace -->
<br class="clear" />
<div class="dvetretiny"><h1>Release notes</h1></div><!-- dvetretiny -->
<br class="clear" />


<!-- zacatek obsahu urceneho k editaci -->
<div class="wrapper">
	{% for release in site.data.releases_en %}
		<h3>{{ release.version }}</h3>
		
		{% for moduleChanges in release.moduleChanges %}
			{% assign moduleTitle = site.data.modules[moduleChanges.module] %}
			<h4 class="{{ moduleChanges.module }}">{{ moduleTitle.title_en }}</h4>
			<ul>
				{% for change in moduleChanges.changes %}
					<li>
						{{ change.title | markdownify }}
					</li>
				{% endfor %}
			</ul>
		{% endfor %}
	{% endfor %}
</div>
<!-- konec obsahu urceneho k editaci -->



</div><!-- stred -->
</div><!-- stranka -->
    <div class="zapati">
        <div class="stred">
            <div class="tretina">
                <h4>Menu</h4>
                <ul>
                    <li><a href="http://www.chystat.com/en" title="Overview">Overview</a></li>
                    <li><a href="http://www.chystat.com/prices" title="Prices">Prices</a></li>
                    <li><a href="http://www.chystat.com/modules" title="Modules">Modules</a></li>
                    <li><a href="http://www.chystat.com/contact" title="Contact">Contact</a></li>
                    <li><a href="http://www.chystat.com/references" title="References">References</a></li>
                    <li><a href="http://demo.chystat.com" title="Online demo">Online demo</a></li>
                </ul>
            </div><!-- tretina -->
            <div class="sestina"><br></div><!-- sestina -->
            <div class="pulka">
                <h4>Adress</h4>
                <p>
                <strong>Diribet spol. s r. o.</strong>
                <br />
                Vítězslava Hálka 1654
                <br />
                266 01 Beroun 2
                </p>
            </div><!-- pulka -->
        </div><!-- stred -->
        <div class="bila-linka">
            <div class="stred">
                <p>Copyright © 2012 Diribet spol. s r. o. All rights reserved.</p>
                <strong>Created studio <a href="http://www.upnet.cz" title="grafické studio - www.upnet.cz" rel="external">Upnet Multimedia</a></strong>
            </div><!-- stred -->
        </div><!-- bila-linka -->
    </div><!-- zapati -->
</body>
</html>