---
---
<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width" />
	<title>chy.stat</title>
	<meta name="robots" content="noindex, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />

	<link rel='stylesheet' id='swiper-style-css'  href='//www.chystat.com/css/swiper-bundle.min.css' type='text/css' media='all' />
	<link rel='stylesheet' id='animate-style-css'  href='//www.chystat.com/css/animate.min.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chystat-style-css'  href='//www.chystat.com/dist/style.css' type='text/css' media='all' />
	<link rel='stylesheet' id='release-notes-style-css'  href='//www.chystat.com/dist/release-notes.css' type='text/css' media='all' />

	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;600;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;600;700&family=Open+Sans:wght@400;700&display=swap" media="print" onload="this.media='all'" />
	<noscript>
		<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;600;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
	</noscript>

	<link rel="apple-touch-icon" sizes="180x180" href="//www.chystat.com/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="//www.chystat.com/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="//www.chystat.com/favicons/favicon-16x16.png">
	<link rel="manifest" href="//www.chystat.com/favicons/site.webmanifest">
	<link rel="mask-icon" href="//www.chystat.com/favicons/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#f6f6f6">
	<meta name="theme-color" content="#ffffff">
</head>

<body class="">

<div class="js-page-overlay page-overlay"></div>

<div id="all" class="">
	<div class="main cf">

	<div class="header">
		<header class="main-header">
			<div class="container container--full cf">
				<a class="header-logo" href="https://www.chystat.com/cs/">
					<h1 class="header-logo-icon">chy.stat</h1>
				</a>
				<nav class="js-main-menu main-menu">
					<div class="lang-switcher">
						<div class="lang-switcher-title">CS</div>
						<div class="lang-switcher-list">
							<a class="lang-switcher-list-link lang-switcher-list-link--active" href="https://site.chystat.com/release-notes-cs.html">CS</a>
							<a class="lang-switcher-list-link" href="https://site.chystat.com/release-notes-en.html">EN</a>
						</div>
					</div>
					<ul class="main-menu-navigation cf">
						<li class="menu-item">
							<a href="https://www.chystat.com/cs/#system">Systém</a>
						</li>
						<li class="menu-item">
							<a href="https://www.chystat.com/cs/#moduly">Moduly</a>
						</li>
						<li class="menu-item">
							<a href="https://www.chystat.com/cs/#reference">Reference</a>
						</li>
						<li class="menu-item">
							<a href="https://www.chystat.com/cs/#zakaznici">Zákazníci</a>
						</li>
						<li class="menu-item">
							<a href="https://www.chystat.com/cs/#kontakt">Kontakt</a>
						</li>
						<li class="menu-item menu-item-has-children">
							<a href="https://apidocs.chystat.com/current">Dokumentace</a>
							<ul class="sub-menu">
								<li class="menu-item">
									<a href="https://apidocs.chystat.com/current">API dokumentace</a>
								</li>
								<li class="menu-item">
									<a href="#">Release notes</a>
								</li>
							</ul>
						</li>
						<li class="menu-item menu-item--btn">
							<a href="https://demo.chystat.com/brewery">Vyzkoušejte demo</a>
						</li>
					</ul>
				</nav>
				<div class="main-header-right">
					<a class="btn" href="https://demo.chystat.com/brewery">Vyzkoušejte demo</a>
					<div class="js-nav-switcher menu-switcher cf">
						<div class="menu-switcher__text">Menu</div>
						<div class="menu-switcher__icon">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
				</div>
			</div>
		</header>
	</div>

	<div class="main-page">
		<main class="main-page-primary cf" role="main">
			<div class="section">
				<div class="container cf">


<!-- zacatek obsahu urceneho k editaci -->
<div class="release-notes">
	{% for release in site.data.releases_cs %}
		<h3>{{ release.version }}</h3>

		{% for moduleChanges in release.moduleChanges %}
			{% assign module = site.data.modules[moduleChanges.module] %}
			<h4 class="module-title module-title_{{ moduleChanges.module }}">{{ module.title_cs }}</h4>
			<ul class="changes">
				{% for change in moduleChanges.changes %}
					<li>
						{{ change.title | markdownify }}
					</li>
				{% endfor %}
			</ul>
		{% endfor %}
	{% endfor %}
</div>
<!-- konec obsahu urceneho k editaci -->


				</div>
			</div>
		</main>
	</div><!-- /.main__page -->
</div><!-- /.main .cf -->
</div><!-- /#all -->

<div id="cookieConsent" class="cf">
	<div class="cookie-consent-text">
		Tento web používá k poskytování služeb a analýze návštěvnosti soubory cookie. Používáním tohoto webu s tím souhlasíte.</div>
	<button class="cookieAccept">Souhlasím</button>
</div>

<!-- Start of chystat Zendesk Widget script -->
<script>
    window.zESettings = {
        cookies: false,
        webWidget: {
            offset: {
                vertical: '100px',
                mobile: {
                    vertical: '125px'
                }
            },
            launcher: {
                label: {
                    '*': 'Napište nám'
                }
            }
        }
    };
</script>
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=93320cd3-3215-41d8-b5fd-b4ead5d7707e"> </script>
<!-- End of chystat Zendesk Widget script -->

<script type='text/javascript' src='//www.chystat.com/js/jquery/jquery-3.6.0.min.js' id='jquery-js'></script>
<script type='text/javascript' src='//www.chystat.com/js/cookie/jquery.cookie.js' id='cookie-js'></script>
<script type='text/javascript' src='//www.chystat.com/js/cookie-consent/jquery.cookie-consent.min.js' id='cookie-consent-js'></script>
<script type='text/javascript' src='//www.chystat.com/js/vivus/vivus.min.js' id='vivus-js'></script>
<script type='text/javascript' src='//www.chystat.com/js/lazysizes/lazysizes.min.js' id='lazysizes-js'></script>
<script type='text/javascript' src='//www.chystat.com/js/swiper/swiper-bundle.min.js' id='swiper-bundle-js'></script>
<script type='text/javascript' src='//www.chystat.com/js/script.js' id='chystat-script-js'></script>

</body>
</html>
